{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <style>
        table,tr,th,td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
    <div class="container mt-5">
    <h1 class="">My Cart</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Delivered At</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    <tr>
                        <td>{{ command.id }}</td>
                        <td>{{ command.status }}</td>
                        <td>{{ command.createdAt ? command.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ command.delivredAt ? command.delivredAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ command.quantity }}</td>
                        <td>{{ command.total }}</td>
                        <td>
                            <a href="{{ path('app_command_show', {'id': command.id}) }}" class="btn btn-primary btn-sm">Show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
