{% extends 'base.html.twig' %}

{% block title %}ProductReport index{% endblock %}

{% block body %}
    <h1>ProductReport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Reason</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_report in product_reports %}
            <tr>
                <td>{{ product_report.id }}</td>
                <td>{{ product_report.description }}</td>
                <td>{{ product_report.reason }}</td>
                <td>{{ product_report.status }}</td>
                <td>
                    <a href="{{ path('app_product_report_show', {'id': product_report.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
