<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            ul,li{
                list-style: none;
            }
            nav{
                background: #000;
                color: white;
            }
            a{
                color: inherit;
                text-decoration: none;
            }
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .links{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        </style>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{#            {% block importmap %}{{ importmap('app') }}{% endblock %}#}
        {% endblock %}
    </head>
    <body>
    <nav>
        <div>
            <a href="{{ path('app_main') }}">electro-shop</a>
        </div>

        <div>
        <ul class="links">
            <li>
                <a href="{{ path('app_product_index') }}">all products</a>
            </li>
            {% if app.user %}
                <li>
                    <a href="{{ path('app_product_new') }}">Create new product</a>
                </li>
                <li>
                    <a href="{{ path('app_my_products') }}">my products</a>
                </li>
                <li>
                    <a href="{{ path('app_my_cart') }}">my cart</a>
                </li>
            {% endif %}
        </ul>
        </div>

        <div>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout({{ app.user.username }})</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login</a>
                <a href="{{ path('app_register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
