{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
    <h1>Address</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Address_line1</th>
                <td>{{ address.addressLine1 }}</td>
            </tr>
            <tr>
                <th>Address_line2</th>
                <td>{{ address.addressLine2 }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ address.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ address.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_address_index') }}">back to list</a>

    <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
